{% load filters %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Отгадай слово</title>
    <meta name="description" content="Попробуйте отгадать секретное слово по ассоциациям и принципу 'горячо-холодно' с помощью алгоритмов искусственного интеллекта!">

    <link rel="icon" type="image/x-icon" href="/media/favicon.ico">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript"> (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(91307982, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/91307982" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

    <!-- Yandex.RTB -->
    <script>window.yaContextCb=window.yaContextCb||[]</script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>

    <!-- Yandex.RTB R-A-2072494-1 -->
    <script>window.yaContextCb.push(()=>{
      Ya.Context.AdvManager.render({
        type: 'floorAd',
        blockId: 'R-A-2072494-1'
      })
    })
    </script>
    <!-- Yandex.RTB R-A-2074875-1 -->
    <div id="yandex_rtb_R-A-2074875-1"></div>
    <script>window.yaContextCb.push(()=>{
      Ya.Context.AdvManager.render({
        renderTo: 'yandex_rtb_R-A-2074875-1',
        blockId: 'R-A-2074875-1'
      })
    })</script>

    <style>
        .row-wrapper {
            border: 1px solid #423232;
            border-radius: 20px;
            margin: 10px -3px;
            overflow: hidden;
            position: relative;
        }
        .outer-bar {
            background-color: #EFF6FB;
            height: 100%;
            position: absolute;
            width: 100%;
        }
        .inner-bar {
            background-color: #b5e2dc;
            border-radius: 17px;
            height: 100%;
            min-width: 1%;
        }
        .wrapper {
            margin: auto;
            max-width: 450px;
            padding: 15px;
        }
        .word {
            background-color: #EFF6FB;
            border: 1px solid #423232;
            border-radius: 20px;
            color: #423232;
            font-family: inherit;
            font-size: 1.25em;
            margin: 10px 0;
            padding: 10px 15px;
            width: 100%;
        }
        .row {
            border-radius: 5px;
            font-weight: inherit;
            height: 50px;
            justify-content: space-between;
            padding: 5px 10px;
            position: relative;
            width: 100%;
            margin-left: 0;
        }
        .row>* {
            width: auto;
        }
        .game-info span {
            font-size: 1.2em;
        }
        .current {
            border: 3px solid #423232;
            font-weight: 900;
        }
        .hided {
            filter: blur(6px);
        }
        body {
            background-color: #E7E1F4;
        }
    </style>
</head>
<body onload="">
    <div class="wrapper">
        <div style="position: relative">
            <h1 class="text-center">Отгадай слово</h1>
            <div class="btn-group" style="position: absolute; right: 0; top: 0">

              <button type="button" class="btn btn-outlier" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
              </button>

              <ul class="dropdown-menu dropdown-menu-end">
                <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#attemptsModal">История попыток</button></li>
                <li><a href="clear_history/" class="dropdown-item" type="button">Очистить историю</a></li>
                <li><button class="dropdown-item" type="button" onclick="hideAnswers()"><span id="hide-text">Скрыть</span> ответы</button></li>
                <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Правила игры</button></li>
                <li><hr class="dropdown-divider"></li>
                <li><button class="dropdown-item" type="button" onclick="share()" id="liveToastBtn">Позвать друзей</button></li>
              </ul>
            </div>
            <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
                <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-body">
                        Скопировали текст для приглашения, отправь своим друзьям!
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Как играть?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p>Отгадайте секретное слово. У вас есть неограниченное количество попыток.</p>
                  <p>Чем сильнее ассоциируется введенное вами слово с секретным, тем оно выше в рейтинге.</p>
                  <p>После ввода слова вы увидите его позицию в рейтинге. Секретное слово находится под номером 1. Работает по принципу "тепло-холодно" с помощью искусственного интеллекта!</p>
                  <p>Если хотите поделиться результатом с друзьями, убедитесь, что скрыли свои ответы с помощью кнопки "Скрыть ответы". Давайте все насладимся процессом поиска истинного ответа как настоящие детективы!</p>
                  <p>Хочешь всегда быть в курсе обновлений? <br>Подпишись на <a href="https://t.me/guesswordcom">https://t.me/guesswordcom</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="winModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body text-center">
                  <h2>Поздравляю!</h2>
                  <h5 class="mt-3">Вы отгадали загаданное слово за <br> <b><span id="final-attempt"></span> попыток</b></h5>
                  <p class="mt-5">Заскринь и поделись с друзьями! <br> <small style="color: #b4b4b4">Убедись, что ответы скрыты, чтобы друзьям тоже было интересно отгадывать!</small></p>
                  <p>До следующего слова <span id="countdown"></span></p>
                  <small style="color: #b4b4b4">
                      Хочешь всегда быть в курсе обновлений? <br>Подпишись на <a href="https://t.me/guesswordcom">https://t.me/guesswordcom</a>
                  </small>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="attemptsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ваша история попыток</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
              <div class="modal-body text-center">
                  <div id="attemptsHistoryDiv">
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="game-info d-flex justify-content-between">
            <p>ИГРА: <b>#<span id="game_id">{{ user_session.id }}</span></b></p>
            <p>ПОПЫТОК: <b><span id="guess_number"></span></b></p>
        </div>

        <form action="/guess/" method="POST" onsubmit="guess(event); return false;">
            {% csrf_token %}
            <input
                class="word"
                type="text"
                name="word"
                placeholder="Введите слово"
                autocapitalize="off"
                autocomplete="off"
                value=""
                id="guess-input"
                onkeydown="return /[а-яА-Яa-zA-Z]/i.test(event.key)"
                autofocus>
        </form>

        <div class="user-guess" id="last-attempt" role="alert">
        </div>

        <div class="mt-4" id="guess-history">
            <div class="user-guess" data-order="0"></div>
            <div class="user-guess" data-order="99999"></div>
        </div>

        <div id="intro-section" style="display: none">

            <div class="card text-dark mb-3" style="width: 100%; background-color: #FCDE9C">
              <div class="card-body">
                <h5 class="card-title">Поддержка</h5>
                <p class="card-text">Подпишись на <a href="https://boosty.to/guess-word">Boosty</a> или <a href="https://patreon.com/guessword">Patreon</a>, чтобы мы могли и дальше арендовать сервера без рекламы и поддерживали жизнь игры! ❤</p>
              </div>
            </div>
            <div class="modal-content mt-3">
                <div class="modal-header">
                    <p class="mb-0">Хочешь всегда быть в курсе обновлений? <br>Подпишись на канал <a href="https://t.me/guesswordcom">https://t.me/guesswordcom</a></p>
                </div>
            </div>

            <div class="modal-content mt-3" id="intro-modal">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Как играть?</h1>
                </div>
                <div class="modal-body">
                    <p>Отгадайте секретное слово. У вас есть неограниченное количество попыток.</p>
                    <p>
                    После ввода слова вы увидите его позицию в рейтинге.
                    Секретное слово находится под номером 1.
                    Чем сильнее ассоциируется введенное вами слово с секретным, тем оно ниже в рейтинге.
                    Работает по принципу "тепло-холодно" с помощью подсказок от искусственного интеллекта!
                    </p>
                    <p>Если хотите поделиться результатом с друзьями, убедитесь, что скрыли свои ответы с помощью кнопки "Скрыть ответы". Давайте все насладимся процессом поиска истинного ответа как настоящие детективы!</p>
                    <small>Оригинал игры можно найти по ссылке <a href="https://contexto.me/">https://contexto.me/</a></small>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <script>
        const HOST = window.location.host + '/';

        function hideAnswers(force = false, show = false) {
            var hided = false;
            const answers = document.getElementsByClassName("answer");

            for(const answer of answers) {
                if(force && show) answer.classList.remove("hided");
                else if(force && !show) answer.classList.add("hided");
                else answer.classList.toggle("hided")

                hided = answer.classList.contains("hided");
            }

            const hideText = document.getElementById("hide-text");
            hideText.innerText = hided ? "Показать" : "Скрыть";
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        async function addHistory(historyGuess) {
            const already_guessed_orders = [];

            for(const guess of document.getElementsByClassName("user-guess")) {
                guess.classList.remove("current")
                already_guessed_orders.push(parseInt(guess.dataset.order));
            }

            var lastOrder = -1;
            var lastTimestamp = 0;

            for(const new_guess of historyGuess) {
                if(new_guess.timestamp > lastTimestamp) {
                    lastTimestamp = new_guess.timestamp;
                    lastOrder = new_guess.order;
                }
            }

            const maxRating = 2000;

            for(const new_guess of historyGuess) {
                if(already_guessed_orders.includes(new_guess.order)) {
                    continue;
                }

                const newGuess = document.createElement('div');
                newGuess.classList.add("row-wrapper")
                newGuess.classList.add("user-guess")
                newGuess.dataset.order = new_guess.order;

                const percent = Math.max(Math.min(100 * (maxRating - new_guess.order) / maxRating, 100), 0)
                const innerBarColor = percent > 70 ? '#A6C954' : percent > 50 ? '#F2A840' : '#FD795E';

                newGuess.innerHTML = `
                    <div class="outer-bar">
                        <div class="inner-bar" style="width: ${percent}%; background-color: ${innerBarColor}">
                        </div>
                    </div>
                    <div class="row" style="align-items: center; display: flex;">
                        <span class="answer">${new_guess.word}</span>
                        <span>${new_guess.order}</span>
                    </div>
                `
                for(const guess of document.getElementsByClassName("user-guess")) {
                    if(parseInt(guess.dataset.order) > new_guess.order) {
                        guess.before(newGuess);
                        break;
                    }
                }
            }

            const guesses = document.getElementsByClassName("user-guess");
            const attempt_count = guesses.length - 3
            document.getElementById("guess_number").innerText = attempt_count.toString();
            document.getElementById("final-attempt").innerText = attempt_count.toString();

            setLastAttempt(lastOrder);
        }

        function setLastAttempt(lastOrder) {
            const lastAttempt = document.getElementById("last-attempt");

            for(const guess of document.getElementsByClassName("user-guess")) {
                if(parseInt(guess.dataset.order) === lastOrder) {
                    if(parseInt(guess.dataset.order) === 1) {
                        winModal.show()
                        hideAnswers(true, false);
                    }

                    guess.classList.add("current")
                    lastAttempt.classList.add("current")
                    lastAttempt.classList.add("row-wrapper")
                    lastAttempt.classList.add("user-guess")
                    lastAttempt.classList.remove("alert")
                    lastAttempt.classList.remove("alert-primary")
                    lastAttempt.innerHTML = guess.innerHTML;
                    break;
                }
            }
        }

        async function guess(e) {
            e.preventDefault();
            var guessInput = document.getElementById("guess-input");
            const response = await fetch(`/make_guess/?session_id={{ request.session.session_id }}`,{
                method: "POST",
                body: JSON.stringify({"word": guessInput.value}),
                headers: {
                    "X-CSRFToken": getCookie('csrftoken'),
                }
            });
            const result = await response.json();
            hideAnswers(true, true);

            guessInput.value = '';

            if(response.status !== 200) {
                const lastAttempt = document.getElementById("last-attempt");
                lastAttempt.classList.remove("row-wrapper")
                lastAttempt.classList.remove("userguess")
                lastAttempt.classList.remove("current")
                lastAttempt.classList.add("alert")
                lastAttempt.classList.add("alert-primary")
                lastAttempt.innerText = result["error_text"];
                return;
            }

            document.getElementById('intro-section').style.display = "none";
            await addHistory(result["guess_history"])
        }

        async function updateHistory() {
            const response = await fetch(`/get_history/?session_id={{ request.session.session_id }}`);
            const result = (await response.json())["guess_history"];

            if(!result.length) {
                document.getElementById('intro-section').style.display = "block";
            }

            await addHistory(result)
        }

        function share() {
            const toastLiveExample = document.getElementById('liveToast')
            const toast = new bootstrap.Toast(toastLiveExample)
            const attempt = document.getElementById("guess_number").innerText;
            const text = `Привет! Играю сейчас в классную игру, где нужно отгадать слово 🤓 У меня идет попытка ${attempt}, сможешь быстрее? Присоединяйся! https://guess-word.com/`;

            const blob = new Blob([text], { type: "text/html" });
            const richTextInput = new ClipboardItem({ "text/html": blob });

            navigator.clipboard.write([richTextInput]).then(() => {
                toast.show()
            }, () => {alert("Что то пошло не так, вот текст! " + text)});
        }

        function startCountDown(countDownDate) {
            var x = setInterval(function() {
                var now = new Date().getTime();
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById("countdown").innerHTML = hours + "ч "
                + minutes + "м " + seconds + "с ";

                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("countdown").innerHTML = "";
                }
            }, 1000);
        }

        const myModal = new bootstrap.Modal(document.getElementById("exampleModal"), {});
        const winModal = new bootstrap.Modal(document.getElementById("winModal"), {});
        const attemptsModal = new bootstrap.Modal(document.getElementById("attemptsModal"), {});

        var winModalShowed = false;

        document.getElementById("attemptsModal").addEventListener("show.bs.modal", async function (event) {
            console.log("asd")
            const attempts = await fetch("/get_attempts/?session_id={{ request.session.session_id }}");
            const guess_history = (await attempts.json())["guess_history"];
            const container = document.getElementById("attemptsHistoryDiv")
            const maxRating = 2000;

            container.innerHTML = "";

            for(let i = 0; i < guess_history.length; i++) {
                const new_guess = guess_history[i];
                const newGuess = document.createElement('div');

                const percent = Math.max(Math.min(100 * (maxRating - new_guess.order) / maxRating, 100), 0)
                const innerBarColor = percent > 70 ? '#A6C954' : percent > 50 ? '#F2A840' : '#FD795E';

                newGuess.innerHTML = `
                    <div class="d-flex">
                    <div style="width: 50px; text-align: center; display: flex; flex-direction: column; justify-content: center; flex-wrap: nowrap">
                        ${i + 1}
                    </div>
                    <div class="row-wrapper" data-order="${new_guess.order}" style="width: 100%">
                        <div class="outer-bar">
                            <div class="inner-bar" style="width: ${percent}%; background-color: ${innerBarColor}">
                            </div>
                        </div>
                        <div class="row" style="align-items: center; display: flex;">
                            <span class="answer">${new_guess.word}</span>
                            <span>${new_guess.order}</span>
                        </div>
                    </div>
                    </div>
                `

                container.append(newGuess)
            }
        })

        document.onreadystatechange = () => {
            const today = new Date()
            var tomorrow = new Date(today)
            tomorrow.setDate(tomorrow.getDate() + 1)
            tomorrow.setHours(0,0,0,0)
            tomorrow = tomorrow.toString().replace(/GMT\+\d\d\d\d/, 'GMT+0900');
            tomorrow = new Date(tomorrow);

            startCountDown(tomorrow);
            updateHistory().then(() => {
                if(!winModalShowed) {
                    for(const guess of document.getElementsByClassName("user-guess")) {
                        if(guess.dataset.order === "1") {
                            hideAnswers(true, false);
                            winModal.show();
                            winModalShowed = true;
                        }
                    }
                }
            });
        }
    </script>
</body>
</html>
