{% load filters %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>ContextTo.Me</title>

    <style>
        .row-wrapper {
            border: 1px solid #423232;
            border-radius: 20px;
            margin: 10px -3px;
            overflow: hidden;
            position: relative;
        }
        .outer-bar {
            background-color: #EFF6FB;
            height: 100%;
            position: absolute;
            width: 100%;
        }
        .inner-bar {
            background-color: #b5e2dc;
            border-radius: 20px;
            height: 100%;
            min-width: 1%;
        }
        .wrapper {
            margin: auto;
            max-width: 450px;
            padding: 15px;
        }
        .word {
            background-color: #EFF6FB;
            border: 1px solid #423232;
            border-radius: 20px;
            color: #423232;
            font-family: inherit;
            font-size: 1.25em;
            margin: 10px 0;
            padding: 10px 15px;
            width: 100%;
        }
        .row {
            border-radius: 5px;
            font-weight: inherit;
            height: 50px;
            justify-content: space-between;
            padding: 5px 10px;
            position: relative;
            width: 100%;
            margin-left: 0;
        }
        .row>* {
            width: auto;
        }
        .game-info span {
            font-size: 1.2em;
        }
        .current {
            border: 3px solid #423232;
            font-weight: 900;
        }
        .hided {
            filter: blur(6px);
        }
        body {
            background-color: #E7E1F4;
        }
    </style>
</head>
<body onload="">
    <div class="wrapper">
        <div style="position: relative">
            <h1 class="text-center">Угадай слово</h1>
            <div class="btn-group" style="position: absolute; right: 0; top: 0">
              <button type="button" class="btn btn-outlier" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a href="clear_history/" class="dropdown-item" type="button">Очистить историю</a></li>
                <li><button class="dropdown-item" type="button" onclick="hideAnswers()">Скрыть/показать ответы</button></li>
                <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Правила игры</button></li>
                <li><hr class="dropdown-divider"></li>
                <li><button class="dropdown-item" type="button" onclick="share()" id="liveToastBtn">Спросить у друзей</button></li>
              </ul>
            </div>
            <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
                <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-body">
                        Скопировали текст для приглашения, отправь своим друзьям!
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Как играть?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p>Отгадайте секретное слово. У вас есть неограниченное количество попыток.</p>

                  <p>Слова были отсортированы алгоритмом искусственного интеллекта в соответствии с тем, насколько они похожи на секретное слово.</p>

                  <p>После ввода слова вы увидите его позицию в рейтинге. Секретное слово находится под номером 1.</p>

                  <p>Алгоритм проанализировал тысячи текстов. Он использует контекст, в котором употребляются слова, чтобы вычислить их сходство.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="winModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body text-center">
                  <h2>Поздравляю!</h2>
                  <h5 class="mt-3">Вы отгадали загаданное слово за <br> <b>{{ guess_history.count }} попыток</b></h5>
                  <p class="mt-5">Заскринь и поделись с друзьями! <br> <small style="color: #b4b4b4">Убедись, что скрыл ответы, чтобы друзьям тоже было интересно отгадывать!</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="game-info d-flex justify-content-between">
            <p>ИГРА: <b>#<span id="game_id">{{ user_session.id }}</span></b></p>
            <p>ПОПЫТОК: <b><span id="guess_number">{{ guess_history.count }}</span></b></p>
        </div>

        <form action="/guess/" method="POST" onsubmit="this.preventDefault()">
            {% csrf_token %}
            <input
                    class="word"
                    type="text"
                    name="word"
                    placeholder="Введите слово"
                    autocapitalize="off"
                    autocomplete="off"
                    value=""
                    onkeydown="return /[а-яА-Яa-zA-Z]/i.test(event.key)"
                    autofocus
            >
        </form>

        {% if request.GET.invalid %}
            <div class="alert alert-primary" role="alert">
              Слова {{ request.GET.invalid }} нет
            </div>
        {% elif last_keyword %}
            <div class="row-wrapper {% if last_keyword.id == last_index %} current {% endif %}">
                <div class="outer-bar">
                    <div class="inner-bar" style="
                            width: {{ max_word|percent:last_keyword.order }}%;
                            background-color:
                                {% if max_word|percent:last_keyword.order > 70 %}
                                    #A6C954
                                {% elif max_word|percent:last_keyword.order > 50 %}
                                    #F2A840
                                {% else %}
                                    #FD795E
                                {% endif %};">
                    </div>
                </div>
                <div class="row" style="align-items: center; display: flex;">
                    <span class="answer">{{ last_keyword.word }}</span>
                    <span>{{ last_keyword.order }}</span>
                </div>
            </div>
        {% endif %}

        <div class="guess-history mt-4">
            {% for guess in guess_history %}
                <div class="row-wrapper {% if guess.id == last_index %} current {% endif %}">
                    <div class="outer-bar">
                        <div class="inner-bar" style="
                                width: {{ max_word|percent:guess.order }}%;
                                background-color:
                                    {% if max_word|percent:guess.order > 70 %}
                                        #A6C954
                                    {% elif max_word|percent:guess.order > 50 %}
                                        #F2A840
                                    {% else %}
                                        #FD795E
                                    {% endif %};">
                        </div>
                    </div>
                    <div class="row" style="align-items: center; display: flex;">
                        <span class="answer">{{ guess.word }}</span>
                        <span>{{ guess.order }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <script>
        function hideAnswers() {
            const answers = document.getElementsByClassName("answer");
            for(const answer of answers) {
                answer.classList.toggle("hided");
            }
        }

        function share() {
            const toastLiveExample = document.getElementById('liveToast')
            const toast = new bootstrap.Toast(toastLiveExample)
            toast.show()

            const attempt = document.getElementById("guess_number").innerText;
            navigator.clipboard.writeText(`Нашел крутую игру http://194.58.102.189/, у меня сейчас идет попытка номер ${attempt}`);
        }

        const myModal = new bootstrap.Modal(document.getElementById("exampleModal"), {});
        const winModal = new bootstrap.Modal(document.getElementById("winModal"), {});

        document.onreadystatechange = () => {
            if("{{created}}" === "True") {
                myModal.show();
            }

            if("{{ last_keyword.order }}" === "1") {
                winModal.show();
            }
        }
    </script>
</body>
</html>